<p id="notice"><%= notice %></p>

<h1>Class Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Class Name', new_class_name_path %>
